*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Sora-Regular';
}
@font-face {
    font-family:'Sora-Bold' ;
    src: url(../font/Sora-Bold.ttf);
}
@font-face {
    font-family: 'Sora-Light';
    src: url(../font/Sora-Light.ttf);
}
@font-face {
    font-family: 'Sora-Regular';
    src: url(../font/Sora-Regular.ttf);
}
img{
    width: 100%;
    display: block;
}
a{
    color: #000;
}
.wrapper{
    margin: 0 4rem;
}
nav label.button{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
nav label.cancel{
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
}
nav label.bars{
    color: #3BB77E;
}
#check{
    display: none;
}
#meain{
    padding-top: 20px;
}
#meain .wrapper{
    margin: 0;
}
#meain header.one{
    margin: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#meain header.one div.left{
    display: flex;
}
#meain header.one div.left h1.logo{
    margin-right: 10px;
}
#meain header.one div.box h4{
    color: #3BB77E;
    cursor: pointer;
}
#meain header.one div.box h6{
    color: #ADADAD;
}
#meain header.one div.middle .input form{
    display: flex;
    align-items: center;
    background-color:#F3F3F3;
    width: 140%;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
}
#meain header.one div.middle div.input form h6{
    margin: 0 5px;
    font-size: 12px;
}
#meain header.one div.middle div.input form a.icon{
    color: #000;
    margin-right: 5px;
}
#meain header.one div.input input{
    display: block;
    border: none;
    color: #ADADAD;
    font-size: 10px;
    background-color:#F3F3F3;
    position: relative;
}
#meain header.one div.input form a.search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: end;
}
#meain header.one div.input form a.search i{
    padding: 6.5px 15px;
    color: #fff;
    background-color: #3BB77E;
}
#meain header.one div.right ul{
    display: flex;
    align-items: center;
}
#meain header.one div.right ul li{
    margin-right: 3rem;
    cursor: pointer;
}
#meain header.one div.right ul li:last-child{
    margin-right: 0;
}
#meain header.one div.right ul li.like{
    display: flex;
    align-items: center;
}
#meain header.one div.right ul li.like a.like{

}
#meain header.one div.right ul li.like a.number h6{
}
#meain header.one div.right ul li.like a.text{
    font-size: 13px;
    color: #000;
}
#meain header.one div.right ul li.user{
    display: flex;
    align-items: center;
}
#meain header.one div.right ul li.user a.user{
    display: block;
    width: 25%;
}
#meain header.one div.right ul li.user h5{
    margin: 0 5px;
}
#meain header.one div.right ul li.shoping{
    display: flex;
    align-items: center;
}
#meain header.one div.right ul li.shoping span a{
    font-size: 13px;
    color: #000;
}
#meain header.one div.right ul li.shoping span{
    margin-right: 10px;
}
#meain header.one div.right ul li.shoping span h6{
    color: #3BB77E;
}
#meain header.one div.right ul li.shoping a.arrow{
    color: #000;
}
#meain header.one div.right ul li.shoping a.shoping{
    font-size: 18px;
}
#meain header.one div.right ul li.user a.arrow{
    color: #000;
}
#meain .wrapper hr.line{
    border: 1px solid #eeeaea;
    margin: 5px 0;
}
#meain header.two{
    margin: 0 4rem;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#meain header.two div.left{
    display: flex;
    padding: 10px 10px;
    background-color: #3BB77E;;
}
#meain header.two div.left a.img{
    display: block;
    width: 13%;
    margin-right: 10px;
}
#meain header.two div.left a{
    color: #fff;
    font-size: 11px;
}
header.two nav.midle ul{
    display: flex;
}
#meain header.two nav.midle ul li:last-child{
    margin-right: 0;
}
#meain header.two nav.midle ul li{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}
#meain header.two nav.midle ul li a{
    font-size: 11px;
}
#meain header.two nav.midle ul li:nth-child(4){
    margin-right: 4rem;
}
#meain header.two nav.midle ul li a.img{
    margin-right: 5px;
}
#meain header.two{
    display: flex;
}
#bg{
    margin-top: 10px;
    background-image: url(../images/Rectangle\ 1.svg);
    background-color: #aee6cc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
#bg .wrapper div.box div.spotlight{
    width: 350px;
    padding-top: 100px;
}
#bg .wrapper div.box div.spotlight h1{
    font-size: 35px;
    margin-bottom: 2rem;
}
#bg .wrapper div.box div.spotlight p{
    font-size: 15px;
    margin-bottom: 2rem;
    color: #898787;
}
#bg .wrapper div.box div.spotlight form{
    display: flex;
    width: 115%;
    background-color: #fff;
    padding: 10px 0;
    position: relative;
}
#bg .wrapper div.box div.spotlight form a.sent-icon{
    color: #ADADAD;
    margin: 0 5px;
}
#bg .wrapper div.box div.spotlight form input{
    display: block;
    border: none;
    font-size: 15px;
}
#bg .wrapper div.box div.spotlight a.button{
    display: flex;
    position: absolute; 
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 0 16px;
    background-color: #3BB77E;
}
#bg div.box{
    display: flex;
    justify-content: space-between;
}
#bg .wrapper{
    margin: 0 0 0 4rem;
} 
#categories{
padding-bottom: 50px;
}
#categories .wrapper{
}
#categories div.top{
    padding: 5rem 4rem 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#categories div.top h1{
    font-size: 30px;
}
#categories div.top ul{
    display: flex;
}
#categories div.top ul li{
    margin-right: 1rem;
}
#categories div.top ul li:last-child{
    margin-right: 0;
}
#categories div.top ul li a{
    color: #000;
}
#categories div.top ul li.active a{
    color: #3BB77E;
}
#categories .wrapper div.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#categories .wrapper div.box ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
#categories .wrapper div.box ul li{
    width: 13%;
    max-width: 70%;
    height: 160px;
    max-height: 500px;
    border-radius: 10px;
    display: block;
}
#categories .wrapper div.box ul li a{
    display: flex;
    justify-content: center;
}
#categories .wrapper div.box ul li a.img{
    width: 50%;
}
#categories .wrapper div.box ul li span{
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
#categories .wrapper div.box ul li h5{
    font-size: 16px;
    margin-bottom: 10px;
}
#categories .wrapper div.box ul li h6{
    color: #ADADAD;
}
#categories .wrapper div.box ul li:last-child{
    margin-right: 0;
}
#categories .wrapper div.box ul li.one{
background-color: #FEEFEA;
}
#categories .wrapper div.box ul li.two{
    background-color: #FFF3FF;
}
#categories .wrapper div.box ul li.three{
background-color: #F2FCE4;
}
#categories .wrapper div.box ul li.four{
background-color: #FEEFEA;
}
#categories .wrapper div.box ul li.five{
background-color: #ECFFEC;
}
#categories .wrapper div.box ul li.six{
background-color: #FFFCEB;
}
#categories .wrapper div.box ul li.seven{
background-color: #DEF9EC;
}
#categories .wrapper div.box span.arrow{
    display: block;
    width: 2%;
    padding: 10px;
    background-color: #F2F3F4;
    border-radius: 30px;
    margin: 0 1rem;
}
#products{
    padding-bottom: 5rem;
}
#products .wrapper{
}
#products div.box div.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#products div.box div.top{
    padding-bottom: 2rem;
    margin: 0 4rem;
    display: flex;
    justify-content: space-between;
}
#products div.box div.top h1{
    font-size: 30px;
}
#products div.box div.top ul{
    display: flex;
}
#products div.box div.top ul li{
    margin-right: 1rem;
}
#products div.box div.top ul li a{
    color: #000;
}
#products div.box div.top ul li.active a{
    color: #3BB77E;
}
#products div.box div.top ul li:last-child{
    margin-right: 0;
}
#products div.box span.arrow{
    display: block;
    width: 2%;
    padding: 10px;
    background-color: #F2F3F4;
    border-radius: 30px;
    margin: 0 1rem;
}
#products .box span.arrow i{

}
#products div.items ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
#products div.items ul li{
    width: 16%;
    border: 1px solid #F2F3F4;
    padding: 0 1rem 2rem 1rem;
    
}
#products div.items ul li span.img{
    display: flex;
    align-items: center;
}
#products div.items ul li small{
    color: #ADADAD;
    margin-bottom: 10px;
}
#products div.items ul li h6{
    font-size: 13px;
    margin-bottom: 0.5rem;
}
#products div.items ul li span.star{
    width: 35%;
    display: block;
}
#products div.items ul li span.star h6{
    font-size: 10px;
    color: #3BB77E;
}
#products div.items ul li span.star h6 a{
    color: #ADADAD;
}
#products div.items ul li span.price{
    display: flex;
    justify-content: space-between;
}
#products div.items ul li span.price h6{  
    color: #3BB77E;
}
#products div.items ul li span.price a{
    display: flex;
    align-items: center;
    padding: 2px 10px;
    background-color: #aee6cc;
}
#products div.items ul li span.price a i{
    color: #3BB77E;
    font-size: 15px;
}
#products div.items ul li span.price a h6{

}
#products div.boxes{
    margin: 0 4rem;
}
#products div.boxes ul{
    display: flex;
    padding-top: 3rem;
}
#products div.boxes ul li{
    padding: 2.5rem 0 2.5rem 2.5rem;
    width: 500px;
    height: 200px;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}
#products div.boxes ul li:last-child{
    margin-right: 0;
}
#products div.boxes ul li.one{
    background-image: url(../images/Rectangle\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:#FFF5E1;
}
#products div.boxes ul li.two{
    background-image: url(../images/Rectangle\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #D2EFE1;
}
#products div.boxes ul li.two div.left {
    
}
#products div.boxes ul li.one div.left {
   width: 33.5%;
}
#products div.boxes ul li.two div.left {
    width: 55.5%;
}
#products div.boxes ul li a.button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #3BB77E;
    color: #FFF3FF;
}
#products div.boxes ul li a.one{
    background-color:#f1d397;
}
#products div.boxes ul li span.box{

}
#products div.boxes ul li span.box h4{
    margin-top: 1rem;
    font-size: 23px;
}
#products div.boxes ul li span.box p{
    margin-bottom: 4rem;
}
#products div.boxes ul li span.button{
    padding: 10px 10px;
    background-color: #3BB77E;
    border-radius: 5px;
}
#products div.boxes ul li span.button a.button{

}
#products .boxes ul li span.button a.icon{
    color: #fff;
}
#sells{
    padding-bottom: 5rem;
}
#sells .wrapper{

}
#sells .wrapper div.box{

}
#sells .wrapper div.box ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sells .wrapper div.box ul li{
    width: 19%;
    border: 1px solid #000;
}
#sells div.box ul li a.color{
    padding: 5px;
    background-color: #f1d397;
    color: #fff;
    display: inline-block;
}
#sells div.box ul li a.button{
    color: #fff;
    padding: 5px;
    display: inline-block;
    align-items: center;
    background-color: #3BB77E;
}
#sells div.box ul li span.img{

}
#sells div.box ul li span.box{

}
#sells div.box ul li div.cantainer span.box small{
    color: #ADADAD;
    margin-bottom: 1rem;
}
#sells div.box ul li span.box h5{
    margin-bottom: 1rem;
    margin-top: 5px;
    font-size: 18px;
}
#sells div.box ul li span.box span.star{
    display: block;
    width: 50%;
    margin-bottom: 5px;
}
#sells div.box ul li span.box h6{
    color: #3BB77E;
    margin-bottom: 10px;
}
#sells div.box ul li span.box h6 a.active{

}
#sells div.box ul li div.cantainer span.price a.price{
    display: flex;
    align-items: center;
    margin-bottom:5px;
}
#sells div.box ul li div.cantainer span.price a.price h5{
    color: #3BB77E;
    margin-right: 5px;
    font-size: 20px;
}
#sells div.box ul li div.cantainer span.price a.price h6{
    color: #ADADAD;
}
#sells div.box ul li div.cantainer span.price h4{
    margin-bottom: 1rem;
    margin-top: 10px;
}
#sells div.box ul li div.cantainer span.price small{
    
}
#sells div.box ul li div.cantainer span.price h6{

}
#sells div.box ul li div.cantainer{
    margin: 10px;
}
#sells div.box ul li span.add{
    background-color: #3BB77E;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#sells div.box ul li span.add a.icon{
    color: #fff;
}
#sells div.box ul li span.add a.text{
    color: #fff;
}
#sells div.box ul li.form{
    background-image: url(../images/Rectangle\ 1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFF7E6;
    padding: 10px;
}
#sells div.box ul li.form span.box{
    padding: 1rem;
}
#sells div.box ul li.form span.box h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
#sells div.box ul li.form span.box p{
    font-size: 10px;
    text-align: center;
}
#sells div.box ul li.form form div.input_box{
    color: #000;
    position: relative;
    margin-top: 30px;
    padding: 0 30px;
    height: 40px;
    border: 1px solid#000;
    border-radius: 5px;
}
#sells div.box ul li.form form div.input_box input{
    width: 100%;
    background-color: #FFF7E6;
    height: 100%;
    border: none;
    outline: none;
}
#sells div.box ul li.form form div.input_box i{
    position: absolute;
    top: 31%;
    left: 5%;
    right: 0;
    bottom: 0;
}
#sells div.box ul li.form form div.input_box div.text-center{
    margin-top: 2rem;
    text-align: center;
}
#sells div.box ul li.form form div.input_box div.text-center a.button{
    padding: 10px 20px;
    border-radius: 5px;
}
#items{
    padding-bottom: 5rem;
}
#items .wrapper{

}
#items div.items{
    display: flex;
    justify-content: space-between;
}
#items div.item{
}
#items div.item ul{
    
}

#items div.item ul li{
    margin-bottom: 1rem;
}
#items div.item ul li span.top{
    padding-bottom: 3rem;
}
#items div.item ul li span.top h4{
    font-size: 20px;
    margin-bottom: 1rem;
}
#items div.item ul li span.top a.img{
    margin-bottom: 2rem;
    width: 80%;
    display: block;
}
#items div.item ul li span.img{
    padding: 10px;
    margin-right: 10px;
    background-color: #f9f4f4;
    border-radius: 5px;
}
#items div.item ul li span.container{
    display: flex;
    align-items: center;
}
#items div.item ul li span.box{

}
#items div.item ul li span.box h5{
    margin-bottom: 5px;
}
#items div.item ul li span.box span.star{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#items div.item ul li span.box span.star h6{
    color: #ADADAD;
}
#items div.item ul li span.box span.price{
    display: flex;
    align-items: center;
}
#items div.item ul li span.box span.price h5{
    font-size: 18px;
    color: #3BB77E;
    margin-right: 5px;
}
#items div.item ul li span.box span.price h6{
    color: #ADADAD;
}
#app{
    padding-bottom: 5rem;
}
#app .wrapper{
    margin: 0;
}
#app div.meain{
    padding: 0 5rem;
    background-color: #92dfbb;
    background-image: url(../images/Rectangle\ 1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#app div.meain div.left{

}
#app div.meain div.left h1{
    font-size: 50px;
    margin-bottom: 2rem;
}
#app div.meain div.left p{
    font-size: 18px;
    color: #898787;
    margin-bottom: 2rem;
}
#app div.meain div.left span.box{
    display: flex;
    align-items: center;
}
#app div.meain div.left span.box a.img{

}
#app div.meain div.right{
    width: 450px;
    margin-top: 5%;
}
#app div.meain div.right a{

}
#bottom{
    padding-bottom: 3rem;
}
#bottom .wrapper{

}
#bottom div.bottom{

}
#bottom div.bottom ul{
    display: flex;
    justify-content: space-between;
}
#bottom div.bottom ul li{
   display: flex;
   align-items: center;
   width: 25%; 
}
#bottom div.bottom ul li a.img{
    width: 20%;
    display: block;
}
#bottom div.bottom ul li a.one{
    width: 40%;
}
#bottom div.bottom ul li a.box{
    margin-left: 10px;
}
#bottom div.bottom ul li a.box h4{
    font-size: 15px;
    margin-bottom: 10px;
}
#bottom div.bottom ul li a.box p{
    font-size: 13px;
    color: #ADADAD;
}
#bottom .wrapper hr.line{
    margin: 1rem 0;
    border: 1px solid #f3f0f0;
}
footer{
    padding-bottom: 1rem;
}
footer .wrapper{

}
footer div.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div.footer div.left h1.logo{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
footer div.footer div.left h1.logo{
    width: 13%;
}
footer div.footer div.left div.box{

}
footer div.footer div.left div.box h4{
    color: #3BB77E;
    font-size: 20px;
}
footer div.footer div.left div.box h6{
    color: #ADADAD;
}
footer div.footer div.left ul{

}
footer div.footer div.left div.logo{
    display: flex;
}
footer div.footer div.left div.logo h1.logo{
    margin-right: 10px;
}
footer div.footer div.left ul li{
    line-height: 2rem;
}
footer div.footer div.left ul li a.icon{
    color: #3BB77E;
    margin-right: 10px;
}
footer div.footer div.left ul li a{
    color: #ADADAD;
    font-size: 13px;
}
footer .wrapper hr.line{
    margin: 1rem 0;
    border: 1px solid #f3f0f0;
}
footer div.footer div.right{
    display: flex;
}
footer div.footer div.right ul{
    margin-right: 5rem;
}
footer div.footer div.right ul li{
    line-height: 1.8rem;
}
footer div.footer div.right ul:last-child{
    margin-right: 0;
}
footer div.footer div.right ul li a.link-name{
    font-size: 20px;
    color: #000;
}
footer div.footer div.right ul li a{
    color: #ADADAD;
    font-size: 13px;
}
footer div.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom .left{

}
footer div.bottom div.left h4{
    color: #ADADAD;
}
footer div.bottom div.middle{
    width: 20%;
}
footer div.bottom div.right{

}
footer div.bottom div.right ul{
    display: flex;
}
footer div.bottom div.right ul li{
    margin-right: 1rem;
}
footer div.bottom div.right ul li:last-child{
    margin-right: 0;
}
footer div.bottom div.right ul li a{
    padding: 10px;
    background-color: #3BB77E;
    border-radius: 30px;
}
footer div.bottom div.right ul li a i{
    color: #fff;
}














 
 @media screen and (max-width: 1440px) {
    #products div.boxes ul li.two div.left{
        width: 51%;
    }
    #products div.boxes ul li.one div.left {
        width: 30.5%;
    }
}
@media screen and (max-width: 1280px){
    #products div.boxes ul li.one div.left {
        width: 35.5%;
    }
    #products div.boxes ul li.two div.left {
        width: 73%;
    }
    #meain header.one div.middle div.input form{
        width: 123%;
    }
    #sells div.box ul li.form form div.input_box input {
        font-size: 10px;
    }
}
 @media screen and (max-width: 1080px) {
     #meain header.one div.middle div.input form {
        width: 108%;
    }
    #meain header.two{
        margin: 0 2rem;
    }
    #bg .wrapper div.box div.spotlight .spotlight{
        width: 360px;
        padding-top: 70px;
    }
    #bg .wrapper div.box div.spotlight .spotlight h1{
        font-size: 35px;
    }
    #bg div.box div.right{
        width: 50%;
    }
    #categories .wrapper div.box ul li{
        width: 14%;
        height: 200px;
    }
    #categories .wrapper div.box span.arrow {
        display: none;
    }
    #products div.boxes ul li span.box p{
        font-size: 14px;
        margin-bottom: 2rem;
    }
    #products div.box span.arrow{
        display: none;
    }
    #products div.boxes ul li span.box h4{
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
    #products div.boxes ul li.one .left {
        width: 41.5%;
    }
    #products div.boxes ul li.two .left {
        width: 65%;
        padding-top: 10%;
    }
    #items div.item ul {
        width: 80%;
    }
    #app div.meain div.left h1{
        font-size: 40px;
    }
    #products div.box div.top{
        margin: 0;
    }
 }
  @media screen and (max-width: 980px) {
    #meain header.one div.right ul li.like{
        display: none;
    }
    #meain header.one div.right ul li.shoping {
        display: none;
    }
    #bg .wrapper div.box div.spotlight form{
        padding: 8px 0;
    }
     header.two nav.midle ul{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #92dfbb;
        height: 100%;
        width: 100%;
        max-width: 300px;
        display: block;
        transition: all 0.5s ease;
        z-index: 10;
    }
    nav label.bars{
        display: block;
    }
    #check:checked ~ label.bars{
        display: none;
    }
    #check:checked ~ ul label.cancel{
        display: block;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #categories div.top{
        padding: 5rem 0 2rem 0;
    }
    #meain header.two nav.midle ul li {
        margin-top: 3rem;
        padding-left: 2rem;
    }
    #bg .wrapper div.box div.spotlight p {
        font-size: 15px;
        margin-bottom: 1rem;
    }
    #meain header.two nav.midle ul li a{
        color: #fff;
    }
    #meain header.one {
        margin: 0 2rem;
    }
    #bg .wrapper div.box div.spotlight {
        width: 386px;
    }
    #bg .wrapper div.box div.spotlight h1{
        font-size: 31px;
        margin-bottom: 1rem;
    }
    #bg .wrapper div.box div.spotlight p{
        font-size: 17px;
    }
    #categories div.top h1 {
        font-size: 27px;
    }
    #categories .wrapper div.box ul li{
        width: 21%;
        margin-bottom: 2rem;
    }
    #categories div.top ul li a{
        font-size: 13px;
    }
    #products div.items ul li {
        width: 27%;
    }
    #products div.items ul li:nth-child(4){
        margin-top: 1rem;
    }
    #products div.items ul li:nth-child(5){
        margin-top: 1rem;
        margin-right: 34%;
    }
    #products div.boxes ul li.one div.left {
        width: 30.5%;
    }
    #products div.boxes ul li.two div.left {
        width: 40.5%;
    }
    #products div.boxes ul{
        display: block;
    }
    #products div.boxes ul li{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    #products div.boxes ul li:last-child{
        margin-bottom: 0;
    }
    #products div.boxes ul{
        margin-left: 5%;
    }
    #items {
        padding-bottom: 1rem;
    }
    #items div.items{
        display: block;
    }
    #sells .wrapper div.box ul li {
        width: 32%;
    }
    #sells .wrapper div.box ul li {
        margin-bottom: 3rem;
    }
    #sells .wrapper div.box ul li:nth-child(4){
        margin-bottom: 0;
        margin-left: 15%;
    }
    #sells .wrapper div.box ul li:nth-child(5){
        margin-bottom: 0;
        margin-right: 15%;
    }
    #sells div.box ul li.form form div.input_box div.text-center a.button{
        padding: 10px 16px;
    }
    #app div.meain div.left h1{
        font-size: 28px;
        margin-bottom: 1rem;
    }
    #app div.meain div.left p{
        font-size: 15px;
        margin-bottom: 1rem;
    }
    #bottom div.bottom ul li a.img{
        width: 45%;
    }
    #bottom div.bottom ul li a.one {
        width: 85%;
    }
    #bottom div.bottom ul li a.box p {
        font-size: 11px;
    }
    #bottom div.bottom ul li a.box h4{
        font-size: 12px;
    }
    footer div.footer{
        display: block;
    }
    footer div.footer div.left{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        align-items: center;
    }
    footer div.footer div.left h1.logo {
        width: 20%;
    }
    footer div.footer div.left div.logo{
        margin-right: 2rem;
    }    
    footer div.footer div.right {
        justify-content: space-between;
    }
    footer div.bottom div.right ul li a{
        padding: 8px;
    }
 } 
 @media screen and (max-width: 768px) {
    #bg .wrapper div.box div.spotlight {
        width: 370px;
    }
    #bg .wrapper div.box div.spotlight form {
        padding: 5px 0;
    }
    #meain header.one div.input form a.search {
        left: 59.8%;
    }
    #meain header.one div.middle div.input form {
        display: none;
    }
    #bg .wrapper div.box div.spotlight h1{
        font-size: 26px;
        margin-bottom: 1rem;
    }
    #bg .wrapper div.box div.spotlight p{
        font-size: 14px;
        margin-bottom: 1rem;
    }
    #bg .wrapper div.box div.spotlight form{
        width: 119%;
    }
    #categories .wrapper div.box ul li{
        width: 24%;
    }
    #categories div.top h1 {
        font-size: 22px;
    }
    #categories div.top ul li a{
        font-size: 13px;
    }
    #categories div.top ul li{
        margin-right: 10px;
    }
    #products div.items ul li{
        width: 26%;
    }
    #products div.items ul li:nth-child(5) {
        margin-right: 34%;
    }
    #products div.boxes ul{
        margin-left: 0;
    }
    #products div.boxes ul li{
        width: 475px;
    }
    #products div.box div.top ul li{
        margin-right: 10px;
    }
    #products div.box div.top h1{
        font-size: 22px;
    }
    #products div.box div.top ul li a{
        font-size: 13px;
    }
    #sells div.box ul li.form form div.input_box div.text-center a.button {
        padding: 10px 5px;
    }
    #sells div.box ul li span.box h5 {
        font-size: 14px;
    }
    #sells .wrapper div.box ul li {
        width: 32%;
    }
    #sells .wrapper div.box ul li:nth-child(4) {
        margin-bottom: 3rem;
    }
    #sells .wrapper div.box ul li:nth-child(5){
        margin-bottom: 3rem;
    }
    #app div.meain div.left p {
        font-size: 15px;
        margin-bottom: 1rem;
    }
    #app div.meain div.left h1{
        font-size: 25px;
    }
    #bottom div.bottom ul li a.box h4 {
        font-size: 13px;
    }
    #bottom div.bottom ul li a.box p{
        font-size: 10px;
    }
    #bottom div.bottom ul li a.img{
        width: 35%;
    }
    #bottom div.bottom ul li a.one{
        width: 65%;
    }
    footer div.footer div.right ul li a{
        font-size: 13px;
    }
    footer div.bottom div.left h4{
        font-size: 13px;
    }
    footer div.bottom div.right ul li a {
        padding: 6px;
    }
    footer div.footer div.right ul li a.link-name{
        font-size: 18px;
    }
    #items div.items{
        display: block;
    }
    #items div.item {
        width: 40%;
    }
    #items div.item ul {
        width: 260%;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    #items div.item ul li span.container{
        border: 1px solid #000;
    }
    #items{
        padding-bottom: 0;
    } 
} 
 @media screen and (max-width: 640px) {
    #meain .wrapper{
        margin: 0 1rem;
    }
    #meain header.one {
        margin: 0 0rem;
    }
    #meain header.two {
        margin: 0px 0rem;
    }
    #meain header.two div.left {
        padding: 8px 10px;
    }
    #categories div.top h1 {
        font-size: 18px;
    }
    #bg .wrapper div.box div.spotlight{
        padding-top: 50px;
    }
    #bg .wrapper div.box div.spotlight h1 {
        font-size: 21px;
    }
    #bg .wrapper div.box div.spotlight p {
        font-size: 11px;
    }
    #bg .wrapper div.box div.spotlight a.button{
        padding: 0 10px;
        font-size: 10px;
    }
    #bg .wrapper div.box div.spotlight form input{
        font-size: 9px;
    }
    #bg div.box div.right{
        width: 78%;
    }
    #categories .wrapper {
        margin: 0 1rem;
    }
    #products .wrapper {
        margin: 0 1rem;
    }
    #categories .wrapper div.box ul li{
        height: 152px;
    }
    #categories .wrapper div.box ul li h5 {
        font-size: 14px;
    }
    #categories div.top ul li a{
        font-size: 8px;
    }
    #categories div.top ul li{
        margin-right: 5px;
    }
    #products div.box div.top ul li a{
        font-size: 10px;
    }
    #products div.box div.top ul li {
        margin-right: 5px;
    }
    #products div.box div.top h1 {
        font-size: 18px;
    }
    #products div.items ul li {
        width: 41%;
    }
    #products div.items ul li:nth-child(3){
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #products .items ul li:nth-child(5) {
        margin-right: 0;
        margin-top: 0;
        margin-left: 30%;
    }
    #products div.items ul li:nth-child(4){
        margin-bottom: 1rem;
    }
    #sells div.box ul li.form form div.input_box div.text-center a.button{
        font-size: 13px;
    }
    #products div.boxes ul li.one div.left {
        display: none;
    }
    #products div.boxes ul li.two div.left {
        display: none;
    }
    #products div.boxes ul li {
        width: 374px;
    }
    #sells .wrapper{
        margin: 0 1rem;
    }
    #app div.meain{
        padding: 0 3rem;
    }
    #bottom .wrapper {
        margin: 0 1em;
    }
    footer div.footer div.left h1.logo{
        display: none;
    }
    footer div.footer div.left ul li a{
        font-size: 14px;
    }
    footer div.footer div.right ul{
        margin-right: 0;
    }
    footer div.bottom div.right ul li a {
        padding: 4px;
        font-size: 9px;
    }
    footer div.bottom div.left h4 {
        font-size: 11px;
    }
    footer .wrapper{
        margin: 0 3rem;
    }
} 
@media screen and (max-width: 540px) {
    #meain header.two div.left {
        padding: 5px ;
    }
    nav label.button {
        font-size: 30px;
    }
    #bg div.box div.right {
        width: 88%;
    }
    #bg .wrapper{
        margin-left: 2rem;
    }
    #bg .wrapper div.box div.spotlight form input{
        font-size: 9px;
    }
    #bg .wrapper div.box div.spotlight form {
        width: 132%;
    }
    #categories .wrapper div.box ul li{
        width: 32%;
    }
    #categories .wrapper div.box ul li.seven{
        margin-bottom: 0;
        margin-left: 35%;
    }
    #categories div.top{
        padding: 2rem 1rem;
    }
    #categories div.top h1{
        font-size: 18px;
    }
    #products div.items ul li {
        width: 39%;
    }
    #products div.items ul li span.price a {
        padding: 0 2px;
    }
    #products div.items ul li:nth-child(5){
        margin-left: 0;
    }
    #products div.box div.top {
        margin: 0 1rem;
    }
    #categories .wrapper div.box ul li {
        height: 180px;
    }
    #products div.boxes ul li {
        width: 313px;
    }
    #sells div.box ul li.form form div.input_box div.text-center a.button {
        font-size: 13px;
    }
    #app {
        padding-bottom: 1rem;
    }
    #bottom div.bottom ul li a.box h4 {
        font-size: 9px;
    }
    #app div.meain div.left h1 {
        font-size: 20px;
    }
    #app div.meain div.left p {
        font-size: 11px;
    }
    footer .wrapper {
        margin: 0 1rem;
    }
} 
@media screen and (max-width: 480px) {
    #bg div.box div.right {
        width: 100%;
    }
    #bg .wrapper div.box div.spotlight {
        width: 405px;
    }
    #bg .wrapper div.box div.spotlight h1 {
        font-size: 15px;
    }
    #bg .wrapper div.box div.spotlight p {
        font-size: 9px;
    }
    #bg .wrapper div.box div.spotlight form {
        width: 140%;
        padding: 3px 0;
    }
    #categories div.top{
       padding: 2rem 0rem;
    }
    #categories div.top h1 {
        font-size: 13px;
    }
    #categories div.top ul li a{
        font-size: 8px;
    }
    #products div.box div.top h1{
        font-size: 13px;
    }
    #products div.box div.top ul li a{
        font-size: 8px;
    }
    #categories .wrapper div.box ul li{
        width: 49%;
    }
    #categories .wrapper div.box ul li:last-child{
        margin-left: 25%;
    }
    #products div.items ul{
        justify-content: center;
    }
    #products div.items ul li{
        width: 70%;
    }
    #products div.items ul li:nth-child(4) {
        margin-left: 0;
    }
    #products div.items ul li:nth-child(5) {
        margin-left: 0;
    }
    #products div.boxes ul li span.box h4{
        font-size: 18px;
    }
    #products div.boxes ul{
        margin-left: 0;
    }
    #products div.boxes{
        margin: 0 3rem;
    }
    #products div.boxes ul li {
        width: 193px;
    }
    #products div.boxes ul li span.box p {
        font-size: 15px;
        margin-bottom: 2rem;
    }
    #app div.meain div.left h1 {
        font-size: 18px;
    }
    #app div.meain div.left p {
        font-size: 9px;
    }
    #sells .wrapper div.box ul li {
        width: 42%;
    }
    #sells .wrapper div.box ul li:nth-child(5) {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 20%;
        width: 50%;
        height: 320px;
    }
    #items .wrapper {
        margin: 0 1rem;
    }
    #items div.item ul{
        width: 223%;
    }
    #app div.meain {
    padding: 0px 1rem;
    }
    #app{
        padding-bottom: 1rem;
    }
    #bottom div.bottom ul li a.box h4 {
        font-size: 10px;
    }
    #bottom div.bottom ul li a.box p {
        font-size: 8px;
    }
    #bottom {
        padding-bottom: 0;
    }
    footer div.footer div.right ul li a.link-name{
        font-size: 13px;
    }
    footer div.footer div.right ul li a {
        font-size: 10px;
        line-height: normal;
    }
    footer div.footer div.right ul li {
        line-height: 1.3rem;
    }
    footer div.footer div.left ul li a {
        font-size: 12px;
    }
    footer div.bottom div.middle{
        display: none;
    }
    footer div.bottom div.right ul li a{
        font-size: 12px;
    }
    footer div.footer div.left h1.logo {
        display: none;
    }
}  